@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
:root {
  --border: var(--light-200);
  --white: var(--light-500);
  --body-bg: var(--light-500);
  --text-color: var(--dark-400);
  --text-color-2: var(--dark-300);
  --text-color-3: var(--dark-200);
  --hover-color-icon: var(--light-300);
}

[data-theme='dark'] {
  --border: var(--dark-200);
  --white: var(--dark-500);
  --body-bg: #333;
  --text-color: var(--light-300);
  --text-color-2: var(--light-100);
  --text-color-3: var(--light-200);
  --hover-color-icon: var(--dark-100);
}

[data-theme='dark'] .navicon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

[data-theme='dark'] .navbar-brand img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

[data-theme='dark'] a {
  opacity: .9;
}

body {
  font-family: "poppins", sans-serif;
  background: var(--body-bg);
  color: var(--text-color);
}

.hidden {
  display: none !important;
}

#dropdownMenu1 {
  background: var(--body-bg);
}

#dropdownMenu1 li {
  color: var(--text-color-2);
}

svg {
  fill: var(--text-color) !important;
}

input {
  color: var(--text-color-2);
}

input::-webkit-input-placeholder {
  color: var(--text-color);
  font-weight: 500 !important;
  font-family: "Poppins" !important;
}

input:-ms-input-placeholder {
  color: var(--text-color);
  font-weight: 500 !important;
  font-family: "Poppins" !important;
}

input::-ms-input-placeholder {
  color: var(--text-color);
  font-weight: 500 !important;
  font-family: "Poppins" !important;
}

input::placeholder {
  color: var(--text-color);
  font-weight: 500 !important;
  font-family: "Poppins" !important;
}

header {
  border-bottom: 1px solid var(--border);
  background: var(--body-bg);
  z-index: 111;
}

header .dropdown-menu li a {
  font-size: .875em;
}

.documentation-wrapper {
  position: relative;
}

.side-bar {
  top: 5rem;
  overflow-y: auto;
  z-index: 1;
  height: calc(100vh - 1px);
}

.side-bar::-webkit-scrollbar {
  width: 12px;
}

.side-bar .aside-nav h5 {
  font-size: .75rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .12rem;
}

.side-bar .aside-nav ul {
  margin-bottom: 1rem;
}

.side-bar .aside-nav li a {
  opacity: .8;
  font-size: .875rem;
  font-weight: 500;
  display: block;
  padding: .35rem 0;
  color: var(--text-color);
}

.side-bar .aside-nav li a:hover {
  opacity: 1;
}

.navbar .menu .nav-item .nav-link {
  font-size: .85rem;
  padding: .15rem;
  color: var(--text-color);
}

.navbar .menu .nav-item .social-link {
  margin: .35rem;
}

.navbar .menu .nav-item .social-link svg {
  width: 1.5rem;
  fill: var(--text-color);
  padding: 0 .175rem;
  border-radius: .25rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar .menu .nav-item .social-link:hover svg {
  background: var(--hover-color-icon);
}

.page-content {
  padding: 2rem 0;
}

#carbonads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 1rem;
  padding: .75em;
  margin: .25em;
  font-size: 90%;
  overflow: hidden;
}

#carbonads img {
  min-width: 100%;
  margin-bottom: .75rem;
  display: block;
}

#carbonads a {
  color: var(--text-color);
}

#carbonads a:hover {
  text-decoration: underline;
}

span.border {
  height: 1px;
  width: 100%;
  display: block;
  border-bottom: 1px solid var(--border);
}

article.content .content-head {
  font-weight: 700;
  margin: 1rem 0;
  color: var(--text-color);
}

article.content p {
  line-height: 1.6em;
  color: var(--text-color-2);
  opacity: .9;
  margin: 1rem 0;
  font-weight: 500;
}

article.content .sub-head {
  font-size: 1.35rem;
}

article.content ul {
  list-style: circle;
  padding-left: 1.5rem;
}

article.content ul li {
  margin: 1rem 0;
}

article.content ul li a {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

article.content ul li a:hover {
  color: var(--text-color-2);
  text-decoration: underline;
}

.documentation-wrapper .iframe {
  border-radius: 2rem;
}

.documentation-wrapper a {
  color: var(--text-color-2);
}

.documentation-wrapper a:hover {
  color: var(--text-color-3);
}

pre {
  overflow: auto;
  border-radius: .3rem;
  border: 1px solid var(--border);
}

code {
  color: var(--error-100);
}

.code-toolbar {
  position: relative;
}

.code-toolbar .copy-to-clipboard-button {
  position: absolute;
  top: .75rem;
  right: .75rem;
  border-radius: .25rem;
  background: var(--dark-400);
  cursor: -webkit-grabbing;
  cursor: grabbing;
  color: var(--primary-300);
  font-size: .85rem;
}

.navbar .navbar-nav .menu .nav-item .nav-link {
  padding: 0.5rem 0.75rem !important;
}

.sidebar-toggler {
  height: 3rem;
  width: 3rem;
  display: none;
  position: fixed;
  border-radius: 0 50% 0;
  z-index: 110;
  cursor: pointer;
  left: 0;
  top: 62px;
  place-items: center;
  background: var(--body-bg);
  margin-right: -2rem;
  border: 1px solid var(--border);
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sidebar-toggler svg {
  width: 1.5rem;
  fill: var(--text-color);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sidebar-toggler.is-active {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.sidebar-toggler.is-active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.search-box {
  margin-left: 1rem;
}

.search-box input {
  height: 2.15rem !important;
  font-size: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 .35rem;
}

@media (max-width: 767px) {
  .side-bar {
    position: fixed !important;
    top: 0;
    left: 0;
    background: var(--body-bg);
    margin-top: 3.5rem;
    padding: 1rem;
    width: 200px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  }
  .side-bar.is-active {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .sidebar-toggler {
    display: -ms-grid;
    display: grid;
  }
}

@media (max-width: 434px) {
  .search-box input {
    max-width: 90px;
  }
}

@media (max-width: 991px) {
  .dropdown-menu li a {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */